<!DOCTYPE html>
<html lang="en">
<%- include('header') -%>

<body>

    <h2 class="red-text text-darken-4 center-align">Error 404</h2>
    <p class="flow-text grey-text text-darken-1 center-align">Oops!! Page Not Found</p>

</body>
<%- include('script') -%>

</html>